{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'marketplace/geral.css' %}">
    <link rel="stylesheet" href="{% static 'marketplace/header.css' %}">
    <link rel="stylesheet" href="{% static '/accounts/login.css' %}">

    <title>Agro Marketplace</title>
</head>

<body>
        {% block header %}
        
        {% endblock %}

    <section>
        {% block content %}

        {% endblock %}
    </section>

        {% block footer %}

        {% endblock %}


</body>

</html>